<%= link_to "新規投稿へ", new_post_path %>
<% @posts.each do |p| %>
    <p id="text"><%= p.body %></p>
<% end %>
<button onClick="getValue()">ボタン</button>

<script>
  function getValue() {
    const paracontent = document.getElementById('text').textContent;
    // const paracontent = document.getElementById('text')
    // document.getElementById('output').value = para;

    // var textMsg = document.getElementById('text');
    // console.log(textMsg.innerHTML);

    let para = document.createElement('p');
    para.textContent = paracontent;
    document.body.appendChild(para);
  }
</script>