<%= link_to "新規投稿へ", new_post_path %>
<% @posts.each do |p| %>
    <p class="text"><%= p.body %></p>
<% end %>
<button onClick="getValue()">ボタン</button>

<script>
  function getValue() {
    // const paracontent = document.getElementsCLassName('text').textContent;
    var c = <%= @count %>;
    for (var i = 0; i<c; i++) {
        const paracontent = document.getElementsByClassName('text')[i].textContent;
        var result = paracontent.replace("これ", "これ https://qiita.com/hkengo/items/3c894f408931d0d0c9d5");
        console.log(result);
    }
    // console.log(paraconten);
    // const paracontent = document.getElementById('text')
    // document.getElementById('output').value = para;

    // var textMsg = document.getElementById('text');
    // console.log(textMsg.innerHTML);

    // let para = document.createElement('p');
    // para.textContent = paracontent;
    // document.body.appendChild(para);
  }
</script>